

<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
  <h1>Welcome to the Quiz!</h1>
  <form action="/quiz" method="get">
    <button type="submit" class="start-button">Start Quiz</button>
  </form>
    </div>
</body>
</html>